.title {
  color: #eee;
  background-color: #00bfc5;
  font-size: 3rem;
  padding-left: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* text-decoration: #00bfc5 solid underline;
  text-decoration-skip: ink; */
}
