.card {
  height: 50vh;
  background: radial-gradient(#eee, #fff);
  width: 25%;
  /* border-radius: 10px; */
  /* border: 1px solid #ddd; */
  flex: 1 0 25%;
  margin: 10px;
  box-shadow: 5px 5px 20px 0px rgba(97, 97, 97, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  position: relative;
}

.card:hover {
  background: radial-gradient(#fff, #eee);
  box-shadow: 2px 2px 5px 0px rgba(97, 97, 97, 0.4);
}

.title {
  font-size: 30px;
  padding: 2px;
  margin: 0px;
}

.titleContainer {
  width: 100%;
}

.buttonContainer {
  width: 100%;
  /* border-top: 1px solid #ddd; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 10px; */
}

.button:hover {
  background: #074d65;
}

.technoIcons {
  position: absolute;
  top: 1%;
  right: 1%;
}

.screenShot {
  border-radius: 7px;
  height: 60%;
  width: 80%;
  background: #eee;
  margin-top: 30px;
}

.techno {
  padding: 2px 4px;
  border-radius: 3px;
  background-color: #124d63;
  margin: 5px;
  text-align: center;
  font-weight: light;
  color: #1fbfc4;
}

.description {
  padding: 10px 10px 10px 20px;
  font-weight: lighter;
  font-size: 1rem;
}

@media (max-width: 1023px) {
  .card {
    flex: 1 0 100%;
  }
}
