.banner {
  background-size: cover;
  background-position: bottom;
  background: #0e4d64;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.container {
  display: flex;
  flex-flow: column;
  flex: 1 0 45%;
  align-items: flex-end;
  justify-content: center;
}
.iconsContainer {
  display: flex;
  flex: 1 0 45%;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.mainTitle {
  color: #eee;
  font-size: 2.5rem;
  font-weight: lighter;
  flex: 1;
  text-align: center;
}
.attribute {
  color: #a0e2db;
}
.name {
  font-family: 'Mina', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  flex: 1;
  color: #eee;
  text-align: center;
}

@media (max-width: 1023px) {
  .container {
    flex: 1 0 100%;
    align-items: center;
  }
  .iconsContainer {
    margin-top: 20px;
    flex: 1 0 100%;
    align-items: center;
  }
}
